<div class="row product">
  <div class="col-lg-5 col-12">
    <div class="card">
      <img src="{{product.image}}" class="card-img product-img" alt="Image for {{ product.title }} product">
    </div>
  </div>
  <div class="col-xl col-lg-1"></div>
  <div class="col-lg-5 col-12 py-4">
    <h2 class="product-name has-text-dark mb-4">{{product.name}}</h2>
    <h3 class="product-price has-text-dark mb-5">${{product.price.toFixed(2)}}</h3>
    <p class="product-description has-text-dark mb-5">{{product.description}}</p>
    <button class="product-add-to-cart btn-dark rounded-pill btn-lg has-text-off-white text-uppercase"
      (click)="addToCart(product)">Add to
      cart</button>
  </div>
</div>
