.product-add-to-cart {
  background-color: #3c3837;
  font-size: 16px;
  padding: 2rem 3.5rem;
}

.product-name {
  font-size: 48px;
}

.product-price {
  font-size: 36px;
}

.product-description {
  font-size: 20px;
}
