/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$main-font: 'Montserrat',
sans-serif;

$dark: #3a3434 !important;
$off-white: #eae3e3 !important;
$accent: #EB3B4F !important;

html,
body {
  font-family: $main-font;
}

html {
  overflow-y: scroll;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1386px;
  }
}

.has-text-dark {
  color: $dark;
}

.has-text-off-white {
  color: $off-white;
}

.has-text-accent {
  color: $accent;
}

.active {
  color: $accent;
}

.has-bg-accent {
  background-color: $accent;
}